.floater-img {
    // z-index: -10;
    width: 200px;
    position: absolute;
    position: fixed;
}

.shroom-blue {
    top: 63%;
    right: -3%;
}

.moogu {
    top: -2%;
    left: -6%
}

.shroom-red {
    top: 80%;
    left: 8%;
}