.enter-site {
    margin-bottom: 80px;
    color: $burg;
    padding: 8px 70px 6px;
    background: $cream;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    a {
        color: $burg;
    }
}