.main-desc {
    display: flex;
    padding: 75px 30px;
    background: #fff;
}

.desc-wrapper {
    width: 50%;
    padding-right: 25px;
}

.desc-wrapper-img {
    margin-top: 70px;
    width: 50%;
}

