.wrapper {
	width: 1080px;
	max-width: 90%;
	margin: 100px auto;
}

h1, h2, h3, h4, p {margin: 0;}

h2{
    margin-bottom: 40px;
}

p {
    margin-bottom: 15px;
}

ul {
	padding: 0;
	li {
		list-style-type: none;
	}
}

img {
	max-width: 100%;
	display: block;
	margin: 0;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #000;
}