.wrapper {
	width: 1080px;
	max-width: 90%;
	margin: 100px auto;
}

h1, h2, h3, h4, p {margin: 0;}

h2{
    margin-bottom: 40px;
}

p {
    margin-bottom: 15px;
}

ul {
	padding: 0;
	li {
		list-style-type: none;
	}
}

img {
	max-width: 100%;
	display: block;
	margin: 0;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #000;
}

.border {
    margin-top: 40px;
    // padding-top: 30px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left-square {
   border: 3px solid black;
   border-top: none;
   border-left: none;
   width: 50px;
   height: 50px;
   position: absolute;
   display: block;
   top: 0;
   left: 0;

}

.right-menu {
   border: 3px solid black;
   border-top: none;
   border-right: none;
   width: 50px;
   height: 50px;
   position: absolute;
   display: block;
   top: 0;
   right: 0; 
   display: flex;
   justify-content: center;
}

ul.nav {
     margin: 0;
}

ul.nav li {
    height: 10px;
}

.nav li a {
    width: 25px;
    height: 3px;
    background: #000;
    border-radius: 20%;

}