.hero-wrapper {
    background: #000;
}

.hero-image {
    height: 80vh;   
}

.hero .left-square, .right-menu {
    background: #FFF;
}

.social {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 30px; 
}

.nav-social {
    display: flex;
    flex-direction: row;
    

}


.nav-social img {
    width: 30px;
    margin-right: 10px;
}


