.hero {
    background: $burg;
    height: 100vh;
}

.logo {
    padding: 40px;
    img {
        width: 200px;
        margin: 0 auto;
    }
}

.welcome {
    font-size: 175px;
    text-align: center;
    color: #fff;
    letter-spacing: 1.6px;
    span {
        display: block;
        font-size: 130px;
    }
}

.welcome-subtitle {
    text-align: center;
    color: $cream;
    font-size: 32px;
    letter-spacing: 1.6px;
    margin-bottom: 60px;
    span {
        display: block;
        margin: 5px;
        &::after {
            content: '';
            display: block;
            width: 385px;
            border-bottom: 2px solid $cream;
            margin: 0 auto;
        }
    }
}


