.main-maker {
    background: #fff;
    display: flex;
    padding: 75px 30px;
}

.maker-wrapper-img {
    width: 50%;
    padding-right: 25px;
    margin-top: 70px; 
}

.maker-wrapper {
    width: 50%;
}

.desc-wrapper {
    width: 50%;
    padding-right: 25px;
}

