.hours-wrapper {
    margin: 155px auto 140px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 480px) { 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.kensington, .gerrard {
    text-align: center;
    font-size: 25px;
    width: 35%;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
}

.kensington {
     @media screen and (max-width: 768px) {
       margin-right: 100px; 
    }
     @media screen and (max-width: 480px) {
      margin-right: 0;
      margin-bottom: 50px;
    }
}

.kensington-title, .gerrard-title {
    color: #FAEED6;
    text-decoration: underline;
}

// .gerrard-title {
//    
// }

.kensington-hours, .gerrard-hours {
    color: #fff;
    margin-top: 10px;
}

.kensington-hours li, .gerrard-hours li {
    margin: 7px;
}

